<!DOCTYPE html>
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chatbot.css' %}">
{% endblock %}

{% block script %}
{% endblock %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="open-position">
      <div class="div">
        <div class="text-wrapper">Open Positions</div>
        <img class="line" src="{% static 'img/line-13.svg' %}" />
        {% for position in open_positions %}
        <div class="text-wrapper-2">{{ position.position }}</div>
        <p class="pyeon-lab-michigan">
          <span class="span">{{ position.location }}<br /></span>
          <span class="text-wrapper-3">{{ position.description }}</span>
          <a href="mailto:dpyeon@msu.edu" target="_blank" rel="noopener noreferrer"
            ><span class="text-wrapper-4">dpyeon@msu.edu</span></a
          >
          <span class="text-wrapper-3">.</span>
        </p>
        {% endfor %}
        <div class="overlap">
          <div class="component">
            <div class="publication"><div class="text-wrapper-5">Publication</div></div>
            <div class="news"><div class="text-wrapper-5">News</div></div>
            <div class="research"><div class="text-wrapper-5">Research</div></div>
            <div class="contact"><div class="text-wrapper-5">Contact</div></div>
            <div class="team"><div class="text-wrapper-5">Team</div></div>
            <div class="gallery"><div class="text-wrapper-5">Gallery</div></div>
            <div class="div-wrapper"><div class="text-wrapper-5">Open positions</div></div>
          </div>
          <div class="group">
            <img class="pyeon-lab-logo" src="{% static 'img/pyeon-lab-logo-3-1-1-2.png' %}" />
            <div class="overlap-group">
              <div class="text-wrapper-6">PYEON LAB</div>
              <p class="p">VIRUS l CANCER l IMMUNITY</p>
            </div>
          </div>
        </div>
        <div class="overlap-2">
          <div class="group-2">
            <div class="group-3">
              <div class="text-wrapper-7">Column One</div>
              <div class="menu-item"><div class="menu-item-2">Twenty One</div></div>
              <div class="menu-item-3"><div class="menu-item-2">Twenty One</div></div>
              <div class="menu-item-4"><div class="menu-item-2">Twenty One</div></div>
              <div class="menu-item-5"><div class="menu-item-2">Twenty One</div></div>
            </div>
            <div class="group-4">
              <div class="text-wrapper-7">Column One</div>
              <div class="menu-item"><div class="menu-item-2">Twenty One</div></div>
              <div class="menu-item-3"><div class="menu-item-2">Twenty One</div></div>
              <div class="menu-item-4"><div class="menu-item-2">Twenty One</div></div>
              <div class="menu-item-5"><div class="menu-item-2">Twenty One</div></div>
            </div>
            <div class="group-5">
              <div class="text-wrapper-7">Column One</div>
              <div class="menu-item"><div class="menu-item-2">Twenty One</div></div>
              <div class="menu-item-3"><div class="menu-item-2">Twenty One</div></div>
              <div class="menu-item-4"><div class="menu-item-2">Twenty One</div></div>
              <div class="menu-item-5"><div class="menu-item-2">Twenty One</div></div>
            </div>
            <div class="group-6">
              <div class="text-wrapper-7">Column One</div>
              <div class="menu-item"><div class="menu-item-2">Twenty One</div></div>
              <div class="menu-item-3"><div class="menu-item-2">Twenty One</div></div>
              <div class="menu-item-4"><div class="menu-item-2">Twenty One</div></div>
              <div class="menu-item-5"><div class="menu-item-2">Twenty One</div></div>
            </div>
            <div class="overlap-group-2">
              <div class="menu">
                <div class="menu-item-6"><div class="menu-item-2">Eleven</div></div>
                <div class="menu-item-6"><div class="menu-item-2">Twelve</div></div>
                <div class="menu-item-6"><div class="menu-item-2">Thirteen</div></div>
              </div>
              <p class="text-wrapper-8">CompanyName @ 202X. All rights reserved.</p>
            </div>
            <img class="rectangle" src="{% static 'img/rectangle-11.svg' %}" />
            <img class="img" src="{% static 'img/rectangle-11.svg' %}" />
          </div>
          <div class="group-7">
            <img class="pyeon-lab-logo" src="{% static 'img/pyeon-lab-logo-3-1-1-2.png' %}" />
            <div class="overlap-group">
              <div class="text-wrapper-6">PYEON LAB</div>
              <p class="p">VIRUS l CANCER l IMMUNITY</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>